@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stock Exchange Manager</h1>
    <p class="lead">Manage your stock in one place.</p>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#AddStockModalDialog">Add New Stock</button>
</div>

<div class="row" id="ticker">
    @Html.Action("GetTicker", "Home")
</div>

@Html.Partial("_AddStock")

@Html.Partial("_DeleteStock")

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-unobstrusive")
    @Scripts.Render("~/bundles/custom")
}

